 body {
    background-color:mintcream; 
}
.container {
    background-color: ghostwhite;
    width: 600px;
    height: 550px;
    margin: 0 auto;
    
    
}

.form-group {
    align-content: center;
}


.info {
    padding: 1px;
    background-color: ghostwhite;
    width: 600px;
    height: 500px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
   text-align: center;

}

form {
    border: 3px solid #f1f1f1;

}
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */

span.psw {
        display: block;
        float: none;
    width: 261px;
    margin-left: 0px;
}

button {
    background-color: white;
   
}

.btn-primary, btn-default {
    margin-left: 500px;
    font: bold;
}